# 📘 Reference: https://help.github.com/articles/ignoring-files/

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js build output
/.next/
# Static export output
/out/

# Production build (optional)
# /build

# Misc
.DS_Store
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env.*       # ignore all env variants (ex: .env.local, .env.development)
!.env.example # allow an example env file for reference

# Deployment (Vercel)
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
