@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-prompt: "Prompt", sans-serif; 
  --color-accent: #d6a27a;
  --color-accent-hover: #c08b63;
  --color-bg-theme: #CFBBA9;
  --color-surface: #ffffff;
  --color-text-primary: #3f3a34;
  --color-text-secondary: #9a938c;
  --color-success: #a8d8b9;
  --color-error: #f4a8a2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt);
}
